<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pdf.Client.Properties.Settings.Db" connectionString="Data Source=HP-SERVER\SQL2008;Initial Catalog=leas_prod;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcessXmlHandlerSoap" maxReceivedMessageSize="6718864" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61211/ProcessXmlHandler.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProcessXmlHandlerSoap"
                contract="ProcessXmlHandler.ProcessXmlHandlerSoap" name="ProcessXmlHandlerSoap" />
        </client>
    </system.serviceModel>
</configuration>